ion-grid {
  ion-row {
    ion-col {
      ion-button {
        height: calc(25vw - (5px * 3.5));
        max-height: calc(70vh / 5);
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}

ion-input {
  font-size: 70px;
}

div[slot='fixed'] {
  bottom: 0;
  left: 0;
  right: 0;
}
